* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'DM Sans', sans-serif;
}

.chat-title {
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  line-height: 2em;
  font-weight: 500;
}

.query-container{
  height: 100%;
  overflow-y: auto;
}

.query-container::-webkit-scrollbar {
  width: 8px;
  height: 5px;
}

.query-container::-webkit-scrollbar-track {
  background: #000;
}

.query-container::-webkit-scrollbar-thumb {
  background-color: rgba(217,217,227,.8);
  /*background-color: hsla(0,0%,100%,.1);*/
  border-radius: 10px;
}

.query-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}
